
.list-product-container{
    height: 958px;
    position: relative;

    .row{
        margin-bottom: 20px;
    }
    
    // .col-4{
    //     .row:first-child{
    //         height: 70%;
    //     }
    //     .row:last-child{
    //         height: 30%;
    //     }
    // }

    .more-info{
       
    }
        
}